blogs.nextcv.in {
    tls internal
    handle /api/* {
        reverse_proxy server:8000
    }
    handle /health {
        respond "ok" 200
    }
    handle {
        reverse_proxy client:3000
    }
}