services:
  caddy:
    image: caddy:2-alpine
    container_name: caddy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - server
      - client
    networks:
      - fullstack-net
    restart: always
  db:
    image: postgres:18-alpine
    restart: always
    volumes:
      - ./database:/var/lib/postgresql/data

    ports:
      - 5432:5432

    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - fullstack-net
  server:
    build: ./backend
    # container_name: express-server
    # volumes:
    #   - ./backend:/app
    #   - node_modules:/app/node_modules
    deploy:
      replicas: 5

    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRY: ${JWT_EXPIRY}
      REFRESH_SECRET: ${REFRESH_SECRET}
      REFRESH_EXPIRY: ${REFRESH_EXPIRY}
      CLOUDINARY_CLOUD_NAME: ${CLOUDINARY_CLOUD_NAME}
      CLOUDINARY_API_KEY: ${CLOUDINARY_API_KEY}
      CLOUDINARY_API_SECRET: ${CLOUDINARY_API_SECRET}
      PORT: 8000
    # ports:
    #   - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - fullstack-net
    restart: always
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    networks:
      - fullstack-net

  client:
    build:
      context: ./frontend

    container_name: react-client
    environment:
      - VITE_API_BASE_URL=/api
    depends_on:
      - server
    networks:
      - fullstack-net

volumes:
  node_modules:
  caddy_data:
  caddy_config:

networks:
  fullstack-net:
    driver: bridge
