name: deploy on aws by github actions

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: deploy vai ssh
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{secrets.SSH_HOST}}
          username: ubuntu
          key: ${{secrets.SSH_KEY}}
          script: |
            set -e
            cd /var/www/blog_postgress
            sudo git reset --hard
            sudo git clean -fd
            sudo git pull
            sudo docker compose down
            sudo docker compose up --build -d
            sudo docker compose logs --tail=50
